services:
  workstation:
    build:
      context: .
      secrets:
        - git_config
      args:
        ORG_NAMES: "privateerproj revanite-io"

    container_name: daily_workstation
    stdin_open: true
    tty: true

    volumes:
      - ~/.ssh:/home/developer/.ssh:ro
      - ./dev:/home/developer/dev
      - ./bin:/workstation-bin
      - go-volume:/home/developer/go
      - downloads-volume:/home/developer/Downloads

    environment:
      - GOPATH=/home/developer/go
    networks:
      - dev-network

networks:
  dev-network:
    driver: bridge

secrets:
  git_config:
    file: ~/.gitconfig

volumes:
  go-volume:
  downloads-volume:
