services:
  workstation:
    build: .
    container_name: daily_workstation
    stdin_open: true
    tty: true
    volumes:
      - ~/.ssh:/home/developer/.ssh:ro
      - ./go:/home/developer/go
      - dev-volume:/home/developer/dev
    tmpfs:
      - /home/developer/Downloads:rw,size=2G
    environment:
      - GOPATH=/home/developer/go
    networks:
      - dev-network

networks:
  dev-network:
    driver: bridge

volumes:
  dev-volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./dev