services:
  workstation:
    build: .
    container_name: daily_workstation
    stdin_open: true
    tty: true
    volumes:
      - ~/.ssh:/home/developer/.ssh:ro
      
      - type: tmpfs
        target: /home/developer/go
        tmpfs:
          size: 1G
      - type: tmpfs
        target: /home/developer/dev
        tmpfs:
          size: 2G
      - type: tmpfs
        target: /home/developer/Downloads
        tmpfs:
          size: 2G

    environment:
      - GOPATH=/home/developer/go
    networks:
      - dev-network

networks:
  dev-network:
    driver: bridge
